@model FPLForecaster.Models.BarChartData;

<div class="box-body" style="margin-bottom:50px">  
    <div class="chart-container">  
        <canvas id="@Model.chartId" style="width:100%; height:500px"></canvas>  
    </div>  
</div> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>  
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  

<script type="text/javascript">  
        Chart.defaults.global.legend.display = true;
        $(function () {        
            var chartName = '@Model.chartId';  
            var ctx = document.getElementById(chartName).getContext('2d');  
            var pointsData = {
                    label: 'Total Points',
                    data: @Html.Raw(Model.yValuesJson_1),
                        backgroundColor: 'rgba(5, 56, 107, 0.6)',  
                        borderColor: 'rgba(5, 56, 107, 1)', 
                    borderWidth: 2,
                    yAxisID: "y-axis-points"
            }
            var squadCostData = {
                    label: 'Total Cost',
                    data: @Html.Raw(Model.yValuesJson_2),
                        backgroundColor: 'rgba(92, 219, 149, 0.6)',  
                        borderColor: 'rgba(92, 219, 149, 1)', 
                    borderWidth: 2,
                    yAxisID: "y-axis-cost"
            }
            
            var data = {  
                    labels: @Html.Raw(Model.xLabelsJson),  
                    datasets: [pointsData, squadCostData]         
             };  

        var options = {  
            maintainAspectRatio: false, 
            title: {
                display: true,
                fontSize: 18,
                text: '@Model.chartTitle'
            },
            scales: {   
                yAxes: [{  
                    id: "y-axis-points"
                }, 
                {
                    id: "y-axis-cost"
                }],  
                xAxes: [{  
                    barPercentage: 0.9,
                    categoryPercentage: 0.8
                }]  
            }  
        };  

        var myChart = new  Chart(ctx, {  
                options: options,  
                data: data,  
                type:'bar'  
            });  
        }); 
</script>  