@{
    ViewData["Title"] = "Manager View";
    var manData = DataService.Data.ManagerData;
    var GameweekValues = manData?.ManagerGameweeks != null && manData?.ManagerGameweeks.Count > 0 ? 
                    Newtonsoft.Json.JsonConvert.SerializeObject(manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => y.number).ToList()) : null;
    var GamweekPointsValues = manData?.ManagerGameweeks != null && manData?.ManagerGameweeks.Count > 0 ? 
                    Newtonsoft.Json.JsonConvert.SerializeObject(manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => y.points).ToList()) : null;  
    var OverallRankValues = manData?.ManagerGameweeks != null && manData?.ManagerGameweeks.Count > 0 ? 
                    Newtonsoft.Json.JsonConvert.SerializeObject(manData.ManagerGameweeks.OrderBy(x => x.number).Select(y => y.overall_rank).ToList()) : null;  
}
  
<head>  
    <meta name="viewport" content="width=device-width" />  
    <title></title>  
</head>  
<body>  
    <div class="text-center">
        @if (DataService.HasManagerData)
        {
            <h1 class="display-4">Welcome <span style="color: #05386B;"><b>@manData.ManagerInformation.player_first_name @manData.ManagerInformation.player_last_name</b></span></h1>
            <p>Please insert a different manager ID to view their data.</p>
        }
        else 
        {
            <h1 class="display-4">Welcome</h1>
            <p>Please insert your manager ID to view your data.</p>
        }

        <form method="post" enctype="multipart/form-data" asp-controller="Page" asp-action="ManagerView">
            Manager ID: <input type="text" width="10" name="manager_id" id="manager_id"/>
            &nbsp;&nbsp;
            <input type="submit" value="Get Data" style="background-color: #05386B; color: white; border-radius: 5px;"></>
            <hr/>
            @if (DataService.HasManagerData)
            {
                @*Populates general manager information*@
                <p>Team Name: <b>@manData.ManagerInformation.name</b></p>
                <small class="text-muted">Joined: @manData.ManagerInformation.joined_time.ToShortDateString()</small>
                <hr/>
            }
        </form> 
    </div>

    <div class="box-body" style="margin-bottom:50px">  
        <div class="chart-container">  
            <canvas id="gameweekPointsChart" style="width:100%; height:500px"></canvas>  
        </div>  
    </div> 
    <hr/>
    <div class="box-body" style="margin-bottom:50px">  
        <div class="chart-container">  
            <canvas id="overallRankChart" style="width:100%; height:500px"></canvas>  
        </div>  
    </div>
    @if (manData != null && manData.ManagerInformation != null)
    {
        @foreach(FPLForecaster.Models.Manager.H2HLeague h2h in manData.ManagerInformation?.leagues?.h2h)
        {
            <hr/>
            <div class="box-body" style="margin-bottom:50px">  
                <div class="chart-container">  
                    <canvas id=@h2h.name style="width:100%; height:500px"></canvas>  
                </div>  
            </div> 
        }
    }
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>  
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  

@*Gamweek Points Chart*@
<script type="text/javascript">  
        Chart.defaults.global.legend.display = false;
        $(function () {        
            var chartName = "gameweekPointsChart";  
            var ctx = document.getElementById(chartName).getContext('2d');  
            var data = {  
                    labels: @Html.Raw(GameweekValues),  
                    datasets: [{  
                        backgroundColor: [  
                            'rgba(5, 56, 107, 0.4)'   
                        ],  
                        borderColor: [  
                            'rgba(5, 56, 107, 1)'
                        ],  
                        borderWidth: 2,  
                        data: @Html.Raw(GamweekPointsValues)  
                    }]  
            
        };  

        var options = {  
            maintainAspectRatio: false, 
            title: {
                display: true,
                fontSize: 18,
                text: 'Gameweek Points for Current Season'
            }, 
            tooltips:{
                callbacks:{
                    label: function(tooltipItem, data){
                        return data['datasets'][0]['data'][tooltipItem['index']] + ' points';
                    },
                    title: function(tooltipItem, data){
                        return 'Gameweek ' + data['labels'][tooltipItem[0]['index']];
                    }
                }
            },
            scales: {  
                yAxes: [{  
                    ticks: {  
                        min: 0,  
                        beginAtZero: true  
                    },  
                    gridLines: {  
                        display: true
                    },
                    scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: 'Points'
                    } 
                }],  
                xAxes: [{  
                    ticks: {  
                        min: 0,  
                        beginAtZero: true 
                    },  
                    gridLines: {  
                        display: true  
                    },
                    scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: 'Gameweek'
                    }  
                }]  
            }  
        };  

        var myChart = new  Chart(ctx, {  
                options: options,  
                data: data,  
                type:'line'  
            });  
        }); 
</script>  

@*Overall Rank Chart*@
<script type="text/javascript">  
        Chart.defaults.global.legend.display = false;
        $(function () {        
            var chartName = "overallRankChart";  
            var ctx = document.getElementById(chartName).getContext('2d');  
            var data = {  
                    labels: @Html.Raw(GameweekValues),  
                    datasets: [{  
                        backgroundColor: [ 
                            'rgba(5, 56, 107, 0.4)', 
                            'rgba(92, 219, 149, 0.4)'   
                        ],  
                        borderColor: [ 
                            'rgba(5, 56, 107, 1)', 
                            'rgba(92, 219, 149, 1)'
                        ],  
                        borderWidth: 2,  
                        data: @Html.Raw(OverallRankValues)  
                    }]  
            
        };  

        var options = {  
            maintainAspectRatio: false, 
            title: {
                display: true,
                fontSize: 18,
                text: 'Overall Rank for Current Season'
            }, 
            tooltips:{
                callbacks:{
                    label: function(tooltipItem, data){
                        return 'Overall Rank: ' + data['datasets'][0]['data'][tooltipItem['index']];
                    },
                    title: function(tooltipItem, data){
                        return 'Gameweek ' + data['labels'][tooltipItem[0]['index']];
                    }
                }
            },
            scales: {  
                yAxes: [{  
                    ticks: {  
                        min: 0,  
                        beginAtZero: true  
                    },  
                    gridLines: {  
                        display: true
                    },
                    scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: 'Rank'
                    } 
                }],  
                xAxes: [{  
                    ticks: {  
                        min: 0,  
                        beginAtZero: true 
                    },  
                    gridLines: {  
                        display: true  
                    },
                    scaleLabel: {
                        display: true,
                        fontSize: 14,
                        labelString: 'Gameweek'
                    }  
                }]  
            }  
        };  

        var myChart = new  Chart(ctx, {  
                options: options,  
                data: data,  
                type:'line'  
            });  
        }); 
</script>  







