@{
    ViewData["Title"] = "Team Picks";

    var chosenTeam = FPLForecaster.Analysis.TeamPicker.AITeam();

    var gameweekValues = DataService.Data.Fixtures.Where(x => x.finished == true).Select(x => x.number).Distinct().OrderBy(x => x).ToList();
    var gameweekValuesJson = Newtonsoft.Json.JsonConvert.SerializeObject(gameweekValues);
    
    var gameweekPointsValues = new List<int>();
    foreach (int gameweek in gameweekValues)
    {

        gameweekPointsValues.Add(chosenTeam.Sum(x => x.playerDetails.pastFixtures.Where(y => DataService.Data.Fixtures.Where(f => f.id == y.fixture).FirstOrDefault().number == gameweek).FirstOrDefault()?.total_points.Value ?? 0));
    }
    var gameweekPointsValuesJson = Newtonsoft.Json.JsonConvert.SerializeObject(gameweekPointsValues); 
}

@foreach(var positions in chosenTeam.GroupBy(x => x.element_type).Reverse().ToList())
{
    <h5 class="text-center">@DataService.Enumerators.PlayerTypes.Where(x => x.id == positions.FirstOrDefault()?.element_type)?.FirstOrDefault()?.plural_name</h5>
    <div class="row justify-content-md-center">
        @foreach(Player player in positions)
        {
            var playerPhotoUrl = $"https://resources.premierleague.com/premierleague/photos/players/110x140/p{player.code}.png";
            <div class="card" style="width: 10rem;margin:10px">
                <img class="card-img-top" src="@playerPhotoUrl" alt="">
                <div class="card-body">
                    <h6 class="card-title" style="margin-bottom: 0; position: absolute; top: 0;">@player.first_name @player.second_name</h6>
                    <p class="card-text" style="position: absolute; bottom: 0;"><small class="text-muted">@DataService.Data.Teams.Where(x => x.id == player.team).FirstOrDefault()?.name</small></p>
                    @*<a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="IdentificationDetails" asp-route-id="identification.Id" style="margin-bottom:20px">Details</a>*@     
                </div>
            </div>
            <p></p>
        }
    </div>
}
<hr/>
@await Html.PartialAsync("/Views/Charts/_LineChart.cshtml", new FPLForecaster.Models.LineChartData(){
    chartId = "aiPointsChart",
    chartTitle = "Gameweek Points for AI Team Picks",
    xValuesJson = gameweekValuesJson,
    yValuesJson = gameweekPointsValuesJson,
    xLabel = "Gameweek",
    yLabel = "Points",
    hoverLabel = "Points: ",
    hoverLabelBefore = false,
    hoverTitle = "Gameweek ",
    hoverTitleBefore = true,
    height_pixels = "500"
})   


